body {
  background: #666666;
}
.begin {
  position: relative;
  top: 100px;
  opacity: 0;
}
.end {
  top: 0px;
  opacity: 1;
  transition: top 1s, opacity 1s;
}
.begin-2 {
  position: relative;
  top: 100px;
  left: 300px;
  transform: rotate(500deg);
  opacity: 0;
}
.end-2 {
  top: 0px;
  left: 0px;
  opacity: 1;
  transform: rotate(0deg);
  transition: top 1s, left 1s, opacity 1s, transform 1s;
}
.ani_box {
  width: 300px;
  height: 300px;
  border: #000 1px solid;
  display: inline-block;
  box-sizing: border-box;
  font-size: 40px;
  line-height: 300px;
  text-align: center;
}
body div {
  width: 900px;
  height: 2000px;
  background: #aaa;
  line-height: 0px;
  font-size: 0px;
}
